.auth {
    height: 100vh;
    display: flex;
    align-items: center;
}

.auth-box {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
}

.page-404 {
	margin-top: 15%;
}